[submodule "extern/antimony-types"]
	path = extern/antimony-types
	url = /home/geagaa/workspace/playground/antimony-types
[submodule "extern/antimony-logger"]
	path = extern/antimony-logger
	url = /home/geagaa/workspace/playground/antimony-logger
