[submodule "extern/sb-types"]
	path = extern/sb-types
	url = git@github.com:guilherme-daros/sb-types.git
[submodule "extern/sb-logger"]
	path = extern/sb-logger
	url = git@github.com:guilherme-daros/sb-logger.git
